---
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
  <h1>Hello world!</h1>
  <p>This is a test.</p>
  <select
    class="block w-full mt-1 text-sm border-gray-300 rounded-md focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
    name="country"
    onchange="
    ttt(this.value);
    "
  >
    <option value="usa">United States</option>
    <option value="canada">Canada</option>
  </select>
  <script src="/src/scripts/script.js" is:inline
   ></script>
</Layout>
